@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/terminus';

@import '@skeletonlabs/skeleton-svelte';

@layer base {
	html {
		height: 100%;
	}

	body {
		height: 100%;
		background-attachment: fixed;
		background-image:
			radial-gradient(
				at 0% 25%,
				color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px,
				transparent 30%
			),
			radial-gradient(
				at 15% 6%,
				color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px,
				transparent 30%
			);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow-x: hidden;
		font-variant-numeric: lining-nums;
	}
}

@custom-variant hovers {
	@media (hover: hover) {
		@slot;
	}
}
